@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Product> Products = (List<Product>)ViewData["Products"];
}

<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (Product p in Products)
    {
    <li><a href="/Product/Detail/@p.Id">@p.Name</a></li>
    }
</ul>